#toggleYoutube {
  box-sizing: border-box;
  width: 60px;
  height: 80%;
  background-color: black;
  border: yellow 2px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleYoutube:hover {
  cursor: pointer;
}

#memoYoutube {
  height: 360px;
  background-color: yellow;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#textAreaYoutube {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  resize: none;
}

#saveButtonYoutube {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 20px;
}

#saveButtonYoutube:hover {
  cursor: pointer;
}

.memoYoutubeHide {
  display: none;
}
